.navigation {
	width: 100%;
	background-color: #ffffff;
}

.navigationContentWrapper {
	@apply flex flex-row justify-between items-center;
	padding: 0.75rem 1.5rem;
}

.navigationContentWrapper > article > div {
	align-self: start;
}

.navigationContentWrapper > .searchInput {
	max-width: 708px;
	width: 100%;
	border-radius: 0.5rem;
	box-sizing: border-box;
	background-color: var(--elements-bg);
	position: relative;
}

.wrapperLogo {
	position: relative;
}

.wrapperLogo::after {
	content: 'v0.5';
	display: block;
	color: #ffffff;
	font-size: 10px;
	background-color: var(--primary);
	border-radius: 3px;
	padding: 1px 5px;
	rotate: 12deg;
	position: absolute;
	top: -6px;
	right: -16px;
}
