.items {
    @apply flex flex-col list-none;
}

.wrapperItem {
    padding: 1rem 0;
}

.wrapperItem:first-child {
    padding-top: 0;
}

.wrapperItem:last-child {
    padding-bottom: 0;
}

.wrapperItem:not(:last-child) {
    border-bottom: solid 2px var(--elements-bg);
}

.item {
    overflow: hidden;
    border-radius: 0.5rem;
}

.item>a {
    @apply block text-sm outline-none;
    color: #C4C5CC;
    font-weight: 500;
    padding: 0.5rem 2.25rem;
    transition: .1s;
    position: relative;
}

.item>a::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #C4C5CC;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.item>a:hover {
    background-color: rgba(216, 216, 216, .25);
}

.active {
    cursor: default;
    background-color: #577CD2;
}

.active>a {
    color: #ffffff;
}

.active>a::before {
    background-color: #ffffff;
}

.active>a:hover {
    background-color: #577CD2;
}
