.inputsBlock {
	display: flex;
	gap: 0.5rem;
}

.inputsBlock > input {
	text-align: center;
	padding: 0.5rem 0.25rem;
}

.inputsBlock > input::-webkit-outer-spin-button,
.inputsBlock > input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.inputsBlock > input[type='number'] {
	-moz-appearance: textfield;
}
