.navigation {
    @apply flex flex-row justify-between;
    border-left: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
    padding: 0.75rem 2.25rem;
}

.navigation>input {
    @apply text-sm;
    max-width: 708px;
    width: 100%;
    border-radius: .5rem;
    box-sizing: border-box;
    background-color: rgba(216, 216, 216, .25);
    padding: .4rem .5rem .4rem 2.5rem;
}

.wrapperLogo {
    position: relative;
}

.wrapperLogo::after {
    content: 'v0.1';
    display: block;
    color: #ffffff;
    font-size: 10px;
    background-color: #577CD2;
    border-radius: 3px;
    padding: 1px 5px;
    rotate: 12deg;
    position: absolute;
    top: -6px;
    right: -16px;
}