.button {
	@apply text-sm;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 0.5rem;
	background-color: var(--primary);
	padding: 0.3rem 1rem;
}

.invertedButton {
	@apply text-sm;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: var(--primary);
	font-weight: 500;
	border-radius: 0.5rem;
	border: 2px solid var(--primary);
	padding: 0.3rem 1rem;
}

.button-skeleton {
	width: 130px;
	min-height: 30px;
}
